#{
#    acme_dns {$DNS_PROV:cloudflare} {$API_TKN}
#}
# Uncomment the above if DNS challenge is preferred globally. Note DNS challenge is more time consuming that the others

(reverse_proxy) {
	reverse_proxy {$GW_ADDRS:localhost:8080} {
		transport http {
			keepalive off
			versions 1.1
			compression off
		}
	}
}

# Supports default HTTP or TLS-ALPN challenge for automatic https
{$DOMAIN:localhost}, www.{$DOMAIN:localhost} {
	import reverse_proxy
}

# Can only do DNS challenge for automatic https, as Let'sEncrypt doesn't allow any other way for wildcard certs
*.ipfs.{$DOMAIN:localhost}, *.ipns.{$DOMAIN:localhost} {
	import reverse_proxy
	tls {
		dns {$DNS_PROV:cloudflare} {$API_TKN:dummy}
	}
}

# Enable HTTPS for DNSLinked hostnames that are CNAMEd to our Gateway.
# `DNSLinks` is a comma-separated list of such hostnames
{$DNSLinks} {
	import reverse_proxy
}

# Catch-all http to serve DNSLinked hostnames that are CNAMEd to our Gateway. Test with localtest.me
http:// {
	import reverse_proxy
}
