#!/usr/bin/env bash
# Brief: Automates update and (re)start of ipns-link-gateway. Logs at cron.log and caddy.log within the repo.
#  This script may be executed as cron job on every reboot.
#  Crontab: sudo crontab -e
#    @reboot sudo /absolute/path/to/this/script
#    */5 * * * * sudo /absolute/path/to/this/script
# Note: Root priviledge is required to make caddy bind to lower ports 80 and 443

####################### Edit Me ###################################

# Put your DNS provider here. E.g. "cloudflare"
export DNS_PROV=
# Put your chosen password. Only alphanumeric characters allowed
export PASSWORD=
# Put your Gateway's domain name
export DOMAIN=
# Put absolute path to your git-cloned IPNS-Link-Gateway repository
export GW_REPO=
# Put API token from your DNS provider for editing DNS records
export API_TKN=
# Comma-separated list of DNSLinks that are CNAMEd to your gateway. E.g. "a.tld, b.tld"
export DNSLinks=

####################### Edit No Further ############################

curl -I -sfo /dev/null https://"${DOMAIN}" && exit # No need to restart if it's working fine

export logfile="${GW_REPO}"/cron.log

log(){
  # Brief: Log the given message (passed as argument(s)) at "${logfile}"
  date "+%D %H:%M:%S: ${@}"
} >> "${logfile}" 2>/dev/null; export -f log
: > "${logfile}"

((EUID == 0)) || { log "Not running as root. Exiting"; exit 1;}

cd "${GW_REPO}" || { log "Failed to cd into repo. Exiting"; exit 1;} # Enter the ipns-link-gateway repository

export socket="${PWD}"/socket # Absolute path to Unix socket that gateway would listen at

# Kill previous instance
kill "$(awk '/^PID:/ {print $2}' '?admin_pass='*)" ; rm -f "${socket}"
log "Killed running gateway"
caddy stop
log "Killed running caddy"

./ipns-link-gateway -U # Update

# Launch gateway
if ./ipns-link-gateway -u "${socket}" -a "${PASSWORD:-admin}" https://"${DOMAIN}" &>> "${logfile}"; then
  log "Launched Gateway"
else
  log "Failed to launch Gateway. Exiting"
  exit 1
fi

# Launch Caddy
export GW_ADDRS="unix/${socket}"
if caddy start &> caddy.log; then
  log "Launched Caddy"
else
  kill "$(awk '/^PID:/ {print $2}' '?admin_pass='*)" # Kill running Gateway
  log "Failed to launch Caddy. Exiting"
  exit 1
fi
