* {
	box-sizing: border-box;
}

body {
	margin: 15px;
	background-color: #a7e3e4;
}

p {
	color: #1a5557;
}

a {
	color: #ce650f;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	text-decoration: underline;
}

.btw-text {
	color: rgb(65, 65, 65);
	font-size: 35px;
	font-style: italic;
}

.underlined {
	text-decoration: underline;
}

.heading {
	text-align: center;
	font-weight: bolder;
	color: #1a5557;
}

img {
	display: inline-block;
	width: 90px;
	height: 90px;
	vertical-align: -25px;
}

.main-header {
	display: inline-block;
	font-size: 60px;
	margin-left: 5px;
}

.sub-header {
	font-size: 30px;
	color: #1a5557;
}

.search {
	text-align: center;
}

.search-info {
	font-size: 25px;
	font-weight: bold;
	color: #1a5557;
}

.search-input {
	width: 75%;
	border: #1a5557 solid 2px;
	border-radius: 5px;
	height: 40px;
	padding-left: 10px;
	background-color: #e6ecec;
}

.regular-button {
	background-color: #1a5557;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	font-family: inherit;
	color: #fff;
	font-size: 16px;
}

.regular-button:hover {
	background-color: #50c7ca;
	cursor: pointer;
}

.extra-text {
	text-align: center;
	font-size: 25px;
}

.coming-soon-tag {
	display: inline-block;
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	width: 140px;
	height: 30px;
	background-color: red;
	font-weight: bold;
	padding: 1px 0px;
	font-size: 20px;
}

.spacer {
	height: 80px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #545658de;
	text-align: center;
}

.footer-text-center {
	font-size: 25px;
}

a.menu:hover {
	font-size: 20px;
}
